.point{
  width: 50%; /* or any desired width */
  max-width: 60px; /* limits the line length */
  border-bottom: 3px solid rgb(40, 131, 219);
}

.uni-dropdown-wrapper {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.uni-dropdown-box {
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
}

.uni-dropdown-btn {
  width: 100%;
  background: white;
  color: black;
  font-weight: bold;
  padding: 14px 18px;
  border: none;
  border-radius: none;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
}

.uni-dropdown-content {
  max-height: 0;
  overflow: hidden;
  background: #f8f8f8;
  transition: max-height 0.35s ease;
  padding: 0 18px;
}

.uni-dropdown-content p {
  margin: 14px 0;
}

.primary{
  border-radius: 5px;
}

.full-input {
  width: 100%;
  box-sizing: border-box; /* ensures padding doesn't break the width */
  padding: 15px;
  background-color: rgb(246, 249, 252);
  border: none;
  border-radius: 3px;
  font-size: 13px;
}

.map-wrapper,
.map-wrapper .container-fluid {
    height: auto;        /* allow height expansion */
    min-height: 600px;   /* ensures the map can grow */
}
